* {
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-size: 110%;
}

h1 {
	color: #e8f1f4;
	font-size: 4em;
	font-family: 'La Belle Aurore', cursive;
	text-shadow: 1px 1px 2px black; 
	text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background:  url('../images/blue.jpg') no-repeat center left;
 	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	height: auto !important;
	min-height:100%;
}

.main {
	background-color: #d3eef6;
	margin: 50px;
	border-radius: 5px;
	padding: 15px;
	/*box-shadow: inset 5px 5px 5px #36367C;*/
	width: 70%;
	margin: auto;
	margin-top: -30px;
}
.gallery {
	background-color: transparent;
}

img.gallery {
	width: 100px;
	box-shadow: 0 0 1em #ccc;
	margin: 5px;
	vertical-align: top;
}

img#left {
	float: left;
	margin-right: 10px;
	width: 40%;
}

.showPic {
	margin: 5px;
	float: right;
}

/* navigation */
ul#navBar {
    float: left;
    margin-left: 5px;
    margin-top: -30px;
}
ul#navBar li {
	text-align: left;
	padding-bottom: 18px;
	list-style: none;
	text-shadow: 1px 1px 2px black; 
}
ul#navBar li a {
	color: #e8f1f4;
    text-decoration: none;
}
ul#navBar li a:hover {
	color: #6B2F0E;
}

.active {
	border-bottom: 3px solid white;
}
/*   end navigation */

form {
	padding: 3px;
}

input {
	border: 1px solid #d3eef6;
	margin: 5px;
}

#button {
	background-color: #0f42cc;
	color: #e8f1f4;
	font-size: 0.75em;
	border-radius: 15px;
	padding: 5px 10px;
	margin: 2px;
}

#button:hover{
	opacity: 0.8;
}

#comments {
    width: 500px;
    height: 150px;
}