* {
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-size: 110%;
}

h1 {
	color: white;
	font-size: 4em;
	font-family: 'La Belle Aurore', cursive;
	text-shadow: 1px 1px 2px black; 
	text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background:  url('../images/blue.jpg') no-repeat center left;
 	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	height: auto !important;
	min-height:100%;
}

.main {
	background-color: white;
	margin: 50px;
	border-radius: 5px;
	padding: 15px;
	/*box-shadow: inset 5px 5px 5px #36367C;*/
	width: 70%;
	margin: auto;
	margin-top: -30px;
}
.gallery {
	background-color: transparent;
}

img.gallery {
	width: 100px;
	box-shadow: 0 0 1em #ccc;
	margin: 5px;
	vertical-align: top;
}

img#left {
	float: left;
	margin-right: 10px;
	width: 40%;
}

/* navigation */
ul#navBar {
    float: left;
    margin-left: 5px;
    margin-top: -30px;
}
ul#navBar li {
	text-align: left;
	padding-bottom: 18px;
	list-style: none;
	text-shadow: 1px 1px 2px black; 
}
ul#navBar li a {
	color: white;
    text-decoration: none;
}
ul#navBar li a:hover {
	color: blue;
}
/*   end navigation */

footer {
	color: white;
	position: absolute;
    bottom: 0;
    margin-left: 25px;
} 