body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-family: Comic Sans, Helvetica, sans-serif;
	color: #2e69a3;
}

h2 {
	font-size: 32px;
}

.nav {
	font-family: Comic Sans, Helvetica, 
	sans-serif;
}


.main {
	padding: 250px 0;
	margin: 30px;
	background-image: img("/images/pontiac5.jpg"); 
	background-size: cover;
}