* {
	text-decoration: none;
	font-family: Comic, Helvetica, sans-serif;
}

h1 {
	color: white;
	font-size: 400%;
	font-family: cursive;
	text-align: center;
}

header {
	text-align: center;
}

.main {
	background-color: white;
	margin: 50px;
	border-radius: 5px;
	padding: 15px;
	box-shadow: inset 5px 5px 5px #36367C;
	width: 85%;
	margin: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background:  url('images/blue.jpg') no-repeat center left;
 	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	height: auto !important;
	min-height:100%;
}
/*gallery*/
img.square {
	width: 300px;
	height: 300px;
}
img.portrait {
	width: 150px;
	height: 300px;
}
img.landscape {
	width: 350px;
	height: 150px;
}
/*gallery*/

/* navigation */
ul#navBar {
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}
ul#navBar li {
	font: 4em;
    display: inline;
    margin-right: 45px;
    margin-left: 10px;
}
ul#navBar li a {
	color: white;
    text-decoration: none;
}
ul#navBar li a:hover {
	color: blue;
}
/*   end navigation */ 