* {
	text-decoration: none;
	font-family: Comic, Helvetica, sans-serif;
}

h1 {
	color: #2e69a3;
	text-align: center;
}

header {
	text-align: center;
}

.main {
	background-color: #2e69a3;
	margin: 50px;
	border-radius: 5px;
	padding: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
background:  url('images/blue_farm.jpg') no-repeat center left;
 background-size: 100% 100%;
width: 100%;
height: 100%;
height: auto !important;
min-height:100%;
}

/* navigation */
ul#navBar {
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}

ul#navBar li {
	font: 1.5em;
    display: inline;
    margin-right: 25px;
}

ul#navBar li a {
	color: white;
    text-decoration: none;
}

ul#navBar li a:hover {
	color: blue;
}

/*   end navigation */ 